<h2></h2>
      <!-- <a href="/index">Home</a> -->
      <div class="contact_list">
        <p class="no_of_contacts">
          There are <span><%= @contacts.count %></span> contacts
        </p>
      <ul>
      <% @contacts.each do |contact| %>
      <li class="contact_li">
      <a href="/contacts/<%= contact.id %>"> <%= contact.first_name.capitalize%> <%= contact.last_name.capitalize%></a>  (<%= contact.email %>)</p>
      <a href="#" class="list_links">Edit</a>  |  <a href="#" class="list_links">Delete</a>
      </li>
      <% end %>
    </ul>
    </div>
